@media ( max-width: 1200px )
  .container
    max-width: 960px
  .card
    margin-right: 0
  .price
    &-container
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center
    &-text
      width: 536px
      margin-bottom: 20px
      text-align: center
    &-img
      display: none
@media ( max-width: 996px )
  .container
    max-width: 700px
  .navbar
    &-contacts
      flex-grow: 1
    &-logo
      &__description
        display: none
    &-messagers
      margin: 0
    &-text
      text-align: center
      font-style: normal
      font-weight: 400
      font-size: 12px
      line-height: 14px
      margin-bottom: 9px
    &-backcall
      margin: 0
  .services
    &-main
      flex-direction: column
      align-items: center
      justify-content: flex-start1
    &-card
      background-size: 105%
  .card
    width: 90%
  .footer
    &-text
      font-style: normal
      font-weight: 400
      font-size: 12px
      line-height: 20px
    &-title
      height: 40px
      margin-right: 5px
      font-style: normal
      font-weight: 700
      font-size: 14px
      line-height: 18px
    &-menu
      &__item
        font-weight: 400
        font-size: 12px
        line-height: 20px
      &__list
        height: 50px
    &-bottom
      &__text
        font-weight: 400
        font-size: 12px
        line-height: 20px
      &__wrapper
        &--right
          text-align: right
@media ( max-width: 768px )
  .header
    &-image
      // background-image: url(../image/BackgroundMedia.jpg)
  .container
    max-width: 700px
    width: 92%
  .navbar
    &-contacts
      display: none
    &-menu
      display: none
      &__mobile
        display: flex
    &-button
      &__mobile
        border: none
        cursor: pointer
        padding: 0
        border-radius: 50%
        width: 61px
        height: 61px
        &--image
          width: 100%
          height: 100%
        &:first-child
          margin-right: 16px
    &-logo
      &__description
        display: block
  .about
    &-text
      width: 100%
      text-align: center
      font-style: normal
      font-weight: 400
      font-size: 38px
      line-height: 32px
  .footer
    &-nav
      display: none
    &-mobile
      display: flex
    &-form
      display: flex
      flex-direction: column
      justify-content: start
      align-items: start
      &__select
        -webkit-appearance: none
        -moz-appearance: none
        appearance: none
        border: none
        background-color: transparent
        cursor: pointer
        font-weight: 700
        outline: none
        width: 185px
        &::-ms-expand
          display: none
      &__wrapper
        position: relative
        margin-bottom: 40px
        &::after
          content: ''
          position: absolute
          top: 50%
          right: 0px
          transform: translateY(-50%)
          display: block
          width: 10px
          height: 6px
          pointer-events: none
          text-decoration: none
          width: 0
          height: 0
          border-style: solid
          border-width: 10.4px 6px 0 6px
          border-color: #0172CE transparent transparent transparent
    &-bottom
      &__text
        align-items: center
@media ( max-width: 360px )
  .header
    &-image
      background-image: url(../image/BackgroundMedia.jpg)
  .container
    width: 95%
  .navbar
    &-logo
      &__image
        width: 71px
        height: 50px
      &__description
        font-style: normal
        font-weight: 400
        font-size: 12px
        line-height: 17px
    &-button
      &__mobile
        width: 41px
        height: 41px
      &:first-child
        margin-right: 8px
  .about
    padding-top: 40px
    padding-bottom: 280px
    &-text
      font-style: normal
      font-weight: 400
      font-size: 24px
      line-height: 32px
    &-promo
      flex-direction: column
      margin-bottom: 30px
    &-button
      width: 100%
      margin-bottom: 10px
  .services
    &-title
      font-style: normal
      font-weight: 700
      font-size: 24px
      line-height: 29px
    &-text
      font-style: normal
      font-weight: 400
      font-size: 14px
      line-height: 17px
    &-main
      padding-bottom: 0
  .card
    width: 100%
    padding-top: 25px
    padding-left: 25px
    &-title
      font-style: normal
      font-weight: 700
      font-size: 21px
      line-height: 28px
    &-menu
      &__item
        font-style: normal
        font-weight: 400
        font-size: 14px
        line-height: 21px
  .price
    background-image: url(../image/PriceBackgroundImage.png)
    &-container
      padding-top: 30px
      padding-bottom: 40px
    &-text
      width: 100%
      font-style: normal
      font-weight: 400
      font-size: 24px
      line-height: 32px
      &__strong
        font-style: normal
        font-weight: 700
        font-size: 24px
        line-height: 32px
    &-feedback
      padding: 30px 20px
    &-title
      font-weight: 400
      font-size: 21px
      line-height: 25px
      text-align: center
      &__strong
        font-weight: 700
        font-size: 21px
        line-height: 25px
        text-align: center
    &-button
      font-style: normal
      font-weight: 700
      font-size: 15px
      line-height: 18px
      padding: 24px 52px
      &::before
        left: 20px
      &::after
        right: 20px
  .footer
    &-top
      padding-top: 30px
      padding-bottom: 30px
      display: flex
      flex-direction: column
      align-items: center
    &-logo
      margin-bottom: 20px
    &-feedback
      align-items: center
    &-call
      margin: 0 0 20px 0
    &-bottom
      display: flex
      flex-direction: column
      align-items: center
      &__wrapper
        margin-bottom: 20px
        &--right
          align-items: center
      &__text
        text-align: center
