@media ( max-width: 1200px )
  .container
    max-width: 960px
  .card
    margin-right: 0
  .price
    &-container
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center
    &-text
      width: 536px
      margin-bottom: 20px
      text-align: center
    &-img
      display: none
@media ( max-width: 996px )
  .container
    max-width: 700px
  .navbar
    &-contacts
      flex-grow: 1
    &-logo
      &__description
        display: none
    &-messagers
      margin: 0
    &-text
      text-align: center
      font-style: normal
      font-weight: 400
      font-size: 12px
      line-height: 14px
      margin-bottom: 9px
    &-backcall
      margin: 0
  .services
    &-main
      flex-direction: column
      align-items: center
      justify-content: flex-start1
    &-card
      background-size: 105%
  .card
    width: 90%
  .footer
    &-text
      font-style: normal
      font-weight: 400
      font-size: 12px
      line-height: 20px
    &-title
      height: 40px
      margin-right: 5px
      font-style: normal
      font-weight: 700
      font-size: 14px
      line-height: 18px
    &-menu
      &__item
        font-weight: 400
        font-size: 12px
        line-height: 20px
      &__list
        height: 50px
    &-bottom
      &__text
        font-weight: 400
        font-size: 12px
        line-height: 20px
      &__wrapper
        &--right
          text-align: right
@media ( max-width: 768px )
  .header
    &-image
      // background-image: url(../image/BackgroundMedia.jpg)
  .container
    max-width: 700px
    width: 92%
  .navbar
    &-contacts
      display: none
    &-menu
      display: none
    &-logo
      &__description
        display: block
  .about
    &-text
      width: 100%
      text-align: center
      font-style: normal
      font-weight: 400
      font-size: 38px
      line-height: 32px
