.services
  padding: 100px 0
  &-hat
    text-align: center
  &-main
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    padding-top: 50px
    padding-bottom: 100px
.card
  width: 417px
  margin-bottom: 24px
  margin-right: 21px
  background-color: grey
  border-radius: 15px
  padding-top: 25px
  padding-bottom: 48px
  padding-left: 25px
  &:nth-child(3n)
    margin-right: 0
  &-title
    font-style: normal
    font-weight: 700
    font-size: 24px
    line-height: 28px
  &-menu
    padding-left: 25px
    &__list:last-child
      list-style-type: none
    &__list
      color: $blue
    &__item
      font-style: normal
      font-weight: 400
      font-size: 18px
      line-height: 21px
      text-decoration: none
